{% extends 'catalog/base.html' %}

{% block title %}Companies list{% endblock %}

{% block content %}
<div class="jumbotron">
<h1>This is courses list</h1>
  {% for company in companies_list %}
  <h2><a href="{% url 'company_detail' company.id %}"> {{ company.name }}</a></h2>
  <p>{{ company.description }}</p>	
  {% endfor %}
 </div>
{% endblock %}

