{% extends 'catalog/base.html' %}

{% block title %}{{ company.name }}{% endblock %}

{% block content %}
<div class="jumbotron">
        <h1>{{ company.name}}</h1>
        <div class='row'>
          <div class='col-md-8'>
          <p>{{ company.description }}</p>            
          </div>
          <div class='col-md-4'>
          <h2>Курсы</h2>
        {% if courses %}  
          {% for course in courses %}
            <h3>{{ course.name }}</h3>
            <p>
              {{ course.description }}
            </p>
           {% endfor %}
        {% else %}
           <p>
            Компания пока не добавила курс!
           </p>
        {% endif %}  
          </div> 
        </div>

          
        

        
      </div>
{% endblock %}